@import "src/_variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.auth-side-icon-spacer {
  height: 20px;
}

.auth-img-container {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 6px;
  padding: 4px;
}

.auth-side-navbar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.left-border-active {
  width: 4px;
  background-color: $theme-secondary;
  margin-left: - ($navbar-width / 2);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.left-border-active.active,
.left-border-active:hover {
     background-color: white;
}

button.btn-icon-sidebar {
  background-color: transparent;
  border:  none;
  font-size: 1.313rem;
  color:white;
  width: $navbar-width;
  height: 50px;
}

#info_sidebar_button {
    font-size:1rem;
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
}

.auth-side-badges {
  padding: 0.5rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  
  text-align: center;
  align-items: center;
  background-color: rgba($white, 0.25);
  
  box-shadow: 0 4px 12px rgba($black, 0.15);
}

.auth-side-badge {
  color: $white;
  font-weight: 600;
  font-size: 0.5rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
 
  padding: 0.33rem 0.55rem;
  
  backdrop-filter: blur(4px);
}
