<ng-container *ngIf="facilities$ | async as facilities">

  <div class="container container--bare">

    <!-- Dynamic categories based on processingCategory and processingOrder -->
    <div class="row" style="margin-top: 30px;" 
         *ngFor="let categoryKey of categoriesOrder" 
         [style.display]="categories[categoryKey]?.length ? 'flex' : 'none'">
      <div class="col-md-6 col-lg-4 col--bare" 
           *ngFor="let facility of categories[categoryKey]; index as i">
        <app-facility-card [facility]="facility"
                           [indexInList]="i"
                           [companyId]="companyId"
                           [actions]="processingActions">
        </app-facility-card>
      </div>
    </div>

  </div>

  <div *ngIf="facilities && facilities.items && facilities.items.length == 0"
       class="no-list-results"
       i18n="@@productLabelStockProcessingFacilityList.noFacilities">
    No facilities
  </div>

</ng-container>
