<main id="content">
    <section>
        <div class="container container-landing-page">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h2 id="landing-h2">
                        <p>INATrace - ec: Lograr que las cadenas de suministro agrícolas sean transparentes y justas en Ecuador</p>
                    </h2>
                    <h4 id="landing-h4">
                        <p>INATrace es una solución digital de código abierto centrada en las personas. Diseñada para
                            establecer cadenas de suministro agrícolas transparentes a nivel global y mejorar la
                            situación económica de las y los pequeños productores en Ecuador, INATrace ofrece trazabilidad
                            de extremo a extremo que garantiza un pago justo.</p>
                    </h4>
                    <a class="btn btn-lg"
                       href="https://www.nachhaltige-agrarlieferketten.org/en/in-practice/inatrace/"
                       target="_blank" rel="nofollow">Leer más</a>
                </div>
            </div>
        </div>
    </section>
</main>

