<!-- Mapbox Journey Map - Click to add markers, right-click on marker to remove -->
<app-mapbox-journey-map
    [mapId]="'pathline-map'"
    [height]="'380px'"
    [width]="'100%'"
    [centerLat]="centerLat"
    [centerLng]="centerLng"
    [defaultZoom]="defaultZoom"
    [markersForm]="markersForm"
    [editMode]="true"
    [showPolyline]="true"
    [polylineColor]="polylineColor"
    [polylineDashArray]="[2, 2]"
    [markerColor]="markerColor"
    [disableDoubleClickZoom]="true"
    [autoFitBounds]="true"
    (mapClick)="onMapClick($event)"
    (markerRightClick)="onMarkerRightClick($event)">
</app-mapbox-journey-map>
